<header class="site-header" role="banner" id='header-bar'>

    <div class="wrapper">
        {% assign default_paths = site.pages | map: "path" %}
        <a class="site-title" href="{{ '/blog.html' | relative_url }}">{{ site.title | escape }}</a>
        
        <nav class="site-nav">
            <a class="page-link" target='_blank' href="{{ '/assets/Kartik_resume_CV.pdf' | relative_url }}">&#x1F4CB; CV</a>
        </nav>

        <nav class="site-nav">
            <a class="page-link" href="{{ '/' | relative_url }}"> &#x1F3E0; Home</a>
        </nav>

        <nav class="site-nav">
            <a class="page-link" href="{{ '/blog.html' | relative_url }}">&#x270E; Blog</a>
        </nav>

        
    </div>

</header>
